자동 온도 조절 장치
 : 설정한 온도에 맞게 실내 온도를 조절해 준다.

 사용자가 제어판에서 온도를 설정
 온도조절기가 10초 마다 온도센서에서 온도를 감지하여 냉난방기를 제어
 냉난방기는 히터/쿨러와 송풍팬으로 구성된다.
 히터와 쿨러는 각각 on/off로만 동작 한다.
 송풍팬의 rpm을 조절할 수 있다.
 온도 조절 장치의 동작 상태가 제어판에 LED점등으로 표시된다.
  - 히터가 동작중일때는 LED가 붉은 색으로 켜진다.
  - 쿨러가 동작중일때는 LED가 푸른 색으로 켜진다.
  - 둘 다 동작하지 않을 때는 LED가 꺼진다.