자동 온도 조절 장치
 : 설정한 온도에 맞게 실내 온도를 조절해 준다.

 사용자가 제어판에서 온도를 설정
 온도조절기가 10초 마다 온도센서에서 온도를 감지하여 냉난방기를 제어
 냉난방기는 히터/쿨러와 송풍팬으로 구성된다.
 히터와 쿨러는 각각 on/off로만 동작 한다.
 송풍팬의 rpm을 조절할 수 있다.
 설정 온도와 현재 온도의 차이가 큰 경우 급속 냉/난방을 실시한다.
  - 설정온도와의 차가 10도가 넘는 경우 500rpm으로 송풍팬을 구동한다.
  - 설정온도와의 차가 5~10도 인 경우 200rpm으로 송풍팬을 구동한다.
  - 설정온도와의 차가 2도 이하인 경우 송풍팬을 정지한다.
 설정 온도와 현재 온도가 일치하는 경우 히터나 쿨러를 정지한다.